body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
    font-size: 20px;
}

.slider{
    margin: 50px;
}

.slider__list{
    list-style: none;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 60vh;
}

.slider__el{
    display: flex;
    justify-content: space-between;
    align-items: center;

    pointer-events: none;
    height: 100%;
    width: 100%;

    & img{
        max-width: 70%;
        height: auto;
    }

    > :first-child{
        margin-right: -5%;
    }
    
    > :last-child{
        margin-left: -5%; 
    }
}

.slider__el--show{
    pointer-events: all;
}

.slider__content{
    background: #eee;
    padding: 15px;
    z-index: 10;
    width: 45%;
}