body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
    font-size: 20px;
}

.slider{
    margin: 50px;
}

.slider__list{
    list-style: none;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;  
}

.slider__el{
    align-items: center;
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    & img{
        max-width: 70%;
        height: auto;
    }

    > :first-child{
        margin-right: -5%;
        opacity: 0;
        transform: translateX(10vh);
        transition: opacity .4s, transform .4s;
    }
    
    > :last-child{
        margin-right: -5%;
        opacity: 0;
        transform: translateX(-10vh);
        transition: opacity .4s, transform .4s;
    }
}

.slider__el--show{
    pointer-events: all;

    > :first-child{
        opacity: 1;
        transform: translateX(0);
    }

    > :last-child{
        opacity: 1;
        transform: translateX(0);
    }
}

.slider__content{
    background: #eee;
    padding: 15px;
    z-index: 10;
    width: 45%;
}