.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ec3838;
}

.tab button.active {
  background-color: #0076e4;
}

.tabsi{
display: none;
padding: 6px 12px;
border: 1px solid #00ff00;
border-top: none;
}